# List of files and folders to ignore in Git
.DS_Store
.ipynb_checkpoints/
.vscode/
*.log
*.sql
__pycache__
.pytest_cache
venv/
input_files/
output_files/
test_files/
log_files/
TODO.md
config_kindle_highlights.yml